style.css

.CIA {
    color: darkgreen; 
}
h1, h2 {
    font-family: Georgia; text-align: center;
}
.p {
    font-size: 25px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    }
.left {
    float: left;
}